body {
  background-color: var(--main-bg-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2em;
  z-index: 1000;
  margin: 0;
  background-color: var(--header-footer-bg-color);
  font-size: 1.5em;
}


header ul {
  text-align: center;
  margin: 0;
}

header li {
  display: inline-block;
  text-decoration: none;
  padding: 0.35em 2em;
  /* color: var(--main-bg-color); */
  color: var(--header-footer-text-color);
}

.menuContent li {
  display: block;
}

.menuContent {
  display: none;
}

.show {
  display: block;
  text-align: left;
  background-color:  var(--header-footer-bg-color);
}


header li:hover {
  background-color: var(--main-bg-color);
  filter: drop-shadow(2px 2px 15px var(--main-bg-color));
  color: var(--dark-text-color);

}

footer {
  margin-top: 2em;
  text-align: center;
  background-color: var(--header-footer-bg-color);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 1.2em;
  color: var(--header-footer-text-color);
  padding: 0.5em;
}


footer a {
  color: var(--header-footer-text-color);
}

.bottom {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 0.7em;
  padding: 0.65em;
}

.wrapper {
  width: 65%;
  font-size: 1.2em;
}

.anchor{
  /* dont reaslly love this, but this is to cater for the fixed header wrt menu  navigation */
  display: block;
  height: 5em; /*same height as header*/
  margin-top: -5em; /*same height as header*/
  visibility: hidden;
}

.section {
  /* border: black solid 1px; */
  /* box-shadow: 0.2em 0.2em; */
  border-radius: 1em;
  /* margin: 1em 0; */
  background-color: var(--section-bg-color);
  color: var(--section-text-color);
  position: relative;
  padding: 2em;
  transition: all 1500ms linear;
}

.section:hover {
  background-color: var(--section-hover-bg-color);
  /* color: var(--dark-text-color); */
  transition: all 1500ms linear;
}

.section h3 {
  margin-bottom: 0.5em;
}

.section a:hover {
  color: var(--link-hover-text-color);
  /* text-decoration: none; */
}


.section ul {
  margin-top: 0.5em;
}

.section img {
  display: inline-block;
  position: absolute;
  right: 1em;
  top: 1em;
  margin: 0;

  height: 8.5em;
  border-radius: 5%;
  /* filter: sepia(80%); */
  float:right;
  /* margin: 1em 0 0 1em; */

}


.interlude {
    /* height: 60vh; */
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    /* right:0; */
    background-attachment: fixed;
    /* filter: sepia(80%); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: .3; */
    margin-top: 5em;
    margin-bottom: 5em;
    /* display: block; */
    /* visibility: visible; */
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */
}

@media only screen and (min-width: 1001px) {
  #bar {
    display: block;
  }

  #burger {
    display: none;
  }

}

@media only screen and (max-width: 1000px) {



  #bar {
    display: none;
  }

  #burger {
    display: block;
  }

  #divButtMenu {
    margin-bottom: -12px;
  }
  .wrapper {
    width: 95%;
    margin: 2em auto;
    padding: 1em;
    font-size: 1em;
  }

  .anchor {
    height: 0;
    margin-top: 0;
  }

  #contact1 img {
    display: none;
  }


  .interlude {
      filter: none;
      background-image: none;
      opacity: 0;
      height: 10vh;
  }

  footer {
    font-size: 1em;
  }

  header li:hover {
  background-color: var(--main-bg-color);
  filter: none;
  color: var(--dark-text-color);
  /* color: red; */
  }



}
