:root {
    --main-bg-color: #fefcc4;
    --header-footer-bg-color: #bc986a;
    --section-bg-color: #659db8;
    --section-hover-bg-color: #daad86;

    --light-text-color: white;
    --dark-text-color: black;

    --link-hover-text-color: var(--section-bg-color);
    --header-footer-text-color: var(--main-bg-color);
    --section-text-color: var(--dark-text-color);
}




* {
  font-family: 'Dosis', sans-serif;
  box-sizing: border-box;
}


h1, h2, h3, h4, h5 {
  color: var(--light-text-color);
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.2em;
}



header li {
  /* display: inline-block; */
  /* text-decoration: none; */
  padding: 0.35em 2em;
  /* color: var(--main-bg-color); */
  /* color: var(--header-footer-text-color); */
}



header li:hover {
  /* background-color: var(--main-bg-color);
  filter: drop-shadow(2px 2px 15px var(--main-bg-color)); */
  color: var(--dark-text-color);

}





footer {
  /* margin-top: 2em;
  text-align: center;
  background-color: var(--header-footer-bg-color);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 1.2em; */
  color: var(--header-footer-text-color);
  /* padding: 0.5em; */
}



footer a:hover {
  color: var(--dark-text-color);
}




.wrapper {
  /* width: 65%; */
  margin: 6em auto;
  padding: 2em;
  /* font-size: 1.2em; */
}



#contact1 li {
  color: var(--light-text-color);
}

#contact1 a {
  color: var(--light-text-color);
  /* text-decoration: none; */
}

#contact1 a:hover {
  color: var(--link-hover-text-color);
}

.section {
  border: black solid 1px;
  box-shadow: 0.2em 0.2em;
  border-radius: 1em;
  margin: 1em 0;
  /* background-color: var(--section-bg-color); */
  /* color: var(--section-text-color); */
  /* position: relative; */
  /* padding: 2em; */
  /* transition: all 1500ms linear; */
}

.section li:nth-child(1) {
  color: var(--section-text-color);
}
.section li:nth-child(2) {
  color: var(--section-text-color);
}
.section li:nth-child(3) {
  color: var(--section-text-color);
}
.section li:nth-child(4) {
  color: var(--section-text-color);
}
.section li:nth-child(5) {
  color: var(--section-text-color);
}
.section li:nth-child(6) {
  color: var(--section-text-color);
}
.section li:nth-child(7) {
  color: var(--section-text-color);
}


.section:hover {
  /* background-color: var(--section-hover-bg-color); */
  color: var(--dark-text-color);
  /* transition: all 1500ms linear; */
}




.section h3 a {
  color: var(--light-text-color);
  /* text-decoration: none; */
}

.section h3 a:hover {
  color: var(--section-bg-color);
  text-decoration: none;
}

.section a {
  color: var(--section-text-color);
  text-decoration: underline;
}







/* .section img {
  height: 8.5em;
  border-radius: 5%;
  filter: sepia(80%);
  float:right;
  margin: 1em 0 0 1em;
} */

.section img {
  filter: sepia(80%);
}


.interlude {
    height: 60vh;
    /* width: 100vw; */
    /* position: relative;
    left: calc(-50vw + 50%); */
    /* right:0; */
    /* background-attachment: fixed; */
    /* filter: sepia(80%); */
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    opacity: .3;
    /* margin-top: 5em; */
    /* margin-bottom: 5em; */
    display: block;
    /* visibility: visible; */
    background-size: 100%;
    background-repeat: no-repeat;

}



#sydney {
  background-image: url("../images/mapSydney.jpg");
}

#newHolland {
  background-image: url("../images/mapNewHolland.jpg");
}

#tramways {
  background-image: url("../images/mapTramways.jpg");
}

#oceania {
  background-image: url("../images/mapOceania.jpg");
}

#jackson {
  background-image: url("../images/mapJackson.jpg");
}
