:root {
    --main-bg-color: black;
    --header-footer-bg-color: white;
    --section-bg-color: black;
    --section-hover-bg-color: #dddddd;

    --light-text-color: black;
    --dark-text-color: white;
    --heading-text-color: limegreen;

    --link-hover-text-color: blue;
    --header-footer-text-color: var(--light-text-color);
    --section-text-color: var(--dark-text-color);
}




* {
  font-family: 'Anonymous Pro', monospace;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  color: var(--heading-text-color);
  font-size: 1em;
}

h1, h2 {
  text-align: left;
}

header ul {
  text-align: center;
  margin: 0;
} */

header li {
  padding: 0.5em 1.5em;
}

header li:hover {
  color: yellow;
}


footer {
  color: limegreen;
}

footer a:hover {
  color: blue;
}



.wrapper {
  margin: 6em 6em 6em 1em;
  padding: 2em 2em 2em 1em;
  font-size: 1em;
}



#contact1 li {
  color: magenta;
}


#contact1 a {
  color: magenta;
}


#contact1 a:hover {
  color: blue;
  text-decoration: underline;
}




.section {
  border: none;
  box-shadow: none;
  border-radius: 1em;
  margin: 0 0;
}


.section li:nth-child(1) {
  color: red;
}
.section li:nth-child(2) {
  color: limegreen;
}
.section li:nth-child(3) {
  color: blue;
}
.section li:nth-child(4) {
  color: magenta;
}
.section li:nth-child(5) {
  color: red;
}
.section li:nth-child(6) {
  color: limegreen;
}
.section li:nth-child(7) {
  color: blue;
}


.section:hover {
  color: var(--light-text-color);
}



.section a {
  color: var(--heading-text-color);
}


.section img {
  display: none;
}

#contact1 img {
  display: none;
}

.interlude {
    display: none;
}
